<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Mezzobit Test Page</title>
    <link rel="stylesheet" href="/main.css" type="text/css">
  </head>
  <body>
    <script async="1">
      (function() {
        __mtm = [ '548c59c2cd947fad4f28bf14', 'd36wtdrdo22bqa.cloudfront.net/mngr', 'tdi.mezzobit.com' ];
        var s = document.createElement('script');
        s.async = 1;
        s.src = '//' + __mtm[1] + '/mtm.js';
        var e = document.getElementsByTagName('script')[0];
        (e.parentNode || document.body).insertBefore(s, e);
      })();
    </script>
    <h1>Mezzobit Test Page</h1>
      <form id="sign-out" action="/sign-out" method="POST">
        <button id="btn" name="submit">
          <p>Sign-Out</p>
        </button>
      </form>
      <%= flash[:notice] if flash[:notice] %>
      <%= yield %>
  </body>
</html>
